@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* Solution */
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /* Solution */
  padding: 5px 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Solution */
ul{
  list-style-type: none;
  padding: 0;
}

a{
  text-decoration: none;
  color: rgb(183, 183, 183);
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  background-color: rgb(213, 213, 213, 50%);

}

.left-links{
  display: flex;
  gap: 15px;
}

.right-links{
    display: flex;
  gap: 15px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex: 1;
}