/* Add CSS Styling */
.paragraph {
    background-color: rgb(245, 149, 149);
    font-family: Verdana, "Dejavu Sans", sans-serif;
}

.paragraph.cooler {
    font-size: 24px;
}

#LargeFontDiv {
    font-size: 36px;
    color: rgb(0, 0, 255);
}

#boldedDiv {
    background-color: rgb(50, 255, 0);
    font-size: 24px;
    font-weight: bold;
}