/* Add CSS Styling */
.button {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;
}

.button.first {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.button.second {
    background-color: rgb(255, 255, 0);
}